In [3]:
#Q1 Swap the number without using third varible

a=3
b=4
a=b+a
b=a-b
a=a-b
print ("a=",a,"b=",b)

a= 4 b= 3

In [15]:
#Q2 : Write a Program to extract each digit from an integer in the reverse order.
"""For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the
digits."""

a=7536
while a!= 0:
    c = a % 10
    print (c, end = " ")
    a //= 10

6 3 5 7

In [19]:
#Q3 Write a program that will give you the sum of 3 digits

a=253
sum = 0
while a!=0:
    c = a%10
    sum += c
    a//=10
print("Sum is ", sum)

Sum is  10

In [2]:
#Q4 Write a program that will take three digits from the user and add the square of each digit.

a=int(input("Enter a 3 digit number = "))

sum_of_square = 0
while a!=0:
    c=a%10
    s=c**2
    sum_of_square+=s
    a//=10
print ("sum of square of 3 digits of goven number is =", sum_of_square)

Enter a 3 digit number =  234

sum of square of 3 digits of goven number is = 29

In [4]:
#Q5 Write a program that will check whether the number is armstrong number or not.

num = int(input("Enter a number: "))
sum = 0
a = num
while a > 0:
   digit = a % 10
   sum += digit ** 3
   a //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number:  153

153 is an Armstrong number

In [2]:
#Q6 :Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.
num = int(input("Enter a number: "))
num_str = str(num)
n = len(num_str)
sum = 0

for a in num_str:
    sq=int(a)**n
    sum+= sq

if num == sum:
   print(num,"is an narcissist number")
else:
   print(num,"is not an narcissist number")

Enter a number:  1634

1634 is an narcissist number

In [10]:
#Q7 Display float number with 2 decimal places using print()

num = 12.123
print("Formatted float number:", "{:.2f}".format(num))

Formatted float number: 12.12

In [20]:
#Q8 Print all factors of a given number provided by the user.
a = int(input("Enter a number: "))

print("Factors of", a, "=")
for i in range(1, a+1):
    if a%i == 0:
        print(i)

Enter a number:  7

Factors of 7 =
1
7

In [29]:
#Q9 Accept a list of 5 float numbers as an input from the user
list1 = [ ]
print("Enter float numbers = ")
for i in range (0,5):
    num = float(input())
    list1.append(num)
print("List of float numbers:", list1)

Enter float numbers =

 1.2
 2.3
 3.4
 4.5
 5.6

List of float numbers: [1.2, 2.3, 3.4, 4.5, 5.6]

In [31]:
#Q10 : Write a program to find the volume of the cylinder. Also find the cost when ,when the cost of 1litre milk is 40Rs.
radius = float(input("Enter the radius of the cylinder (in cm): "))
height = float(input("Enter the height of the cylinder (in cm): "))
#pi=3.14
volume = 3.14 * radius**2 * height
cost_per_liter = 40
total_cost = volume * cost_per_liter
print("Volume of the cylinder:", volume, "cubic cm")
print("Cost of filling the cylinder with milk: Rs.", total_cost)

Enter the radius of the cylinder (in cm):  3
Enter the height of the cylinder (in cm):  4

Volume of the cylinder: 113.04 cubic cm
Cost of filling the cylinder with milk: Rs. 4521.6

In [ ]:
#set 1 Basic_if_for_loop questions

In [32]:
"""
1. Calculate income tax for the given income by adhering to the below rules
a. first 10k => 0%
b. second 10 => 10%
c. Remaining => 20%
d. For example, suppose the taxable income is 45000 the income tax payable is
$6000
"""

income = int(input("Enter your salary ="))

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    tax_payable = (income - 10000) * (10/100)
elif income > 20000:
    tax_payable = 10000 * (10/100) + (income - 20000) * (20/100)

print("Income tax payable:", tax_payable)

Enter your salary = 45000

Income tax payable: 6000.0

In [35]:
"""
2. Write a program that take a user input of three angles and will find out whether it can
form a triangle or not.
"""
angle1 = int(input("Enter angle 1 ="))
angle2 = int(input("Enter angle 2 ="))
angle3 = int(input("Enter angle 3 ="))

angles_sum = angle1+angle2+angle3

if (angles_sum==180 and angle1>0 and angle2>0 and angle3>0):
    print("It can form a triangle.")
else:
    print("It cannot form a triangle.")

Enter angle 1 = 40
Enter angle 2 = 60
Enter angle 3 = 80

It can form a triangle.

In [36]:
"""3. Write a program that will determine weather when the value of temperature and
humidity is provided by the user.
"""
temperature = int(input("Enter the temperature = "))
humidity = int(input("Enter the humidity ="))

if (temperature>=30 and humidity>=90):
    print("Weather is Hot and Humid")
elif(temperature>=30 and humidity<90):
    print("Weather is Hot")
elif(temperature<30 and humidity>=90):
    print("Weather is Cool and Humid")
elif(temperature<30 and humidity<90):
    print("Weather is Cool")

Enter the temperature =  30
Enter the humidity = 78

Weather is Hot

In [52]:
"""
4. Write a menu driven program
a. In case the user has given the value from the option the following task should
be done
b. 1 cm to ft
c. 2 km to miles
d. 3 usd to inr
e. 4 exit
"""

option=int(input("Choose an option from below:"  "1 => cm to ft"  "2 => km to miles" "3 => usd to inr"  "4 => exit"))

if (option == 1):
    print("Conversion from cm to ft")
    val1=int(input("Enter a value in cm"))
    val2= val1*0.032808399
    print("After conversion ", val1, "cm to ft, the value is ", val2, "ft")

elif (option == 2):
    print("Conversion from km to miles")
    val1=int(input("Enter a value in km"))
    val2 = val1*0.621371
    print("After conversion ", val1, "km to miles, the value is ", val2, "miles")

elif (option == 3):
    print("Conversion from usd to inr")
    val1=int(input("Enter a value in usd"))
    val2 = val1*83.49
    print("After conversion ", val1, "usd to inr, the value is ", val2, "inr")

elif option == 4:
        print("Exiting the program. Goodbye!")

else:
    print("Invalid option. Please choose a valid option.")

Choose an option from below:1 => cm to ft2 => km to miles3 => usd to inr4 => exit 8

Invalid option. Please choose a valid option.

In [57]:
"""
5. Display numbers from -10 to -1 using for loop
"""

for i in range (-10, 0):
    print (i, end = " ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [59]:
"""6. Print First 10 natural numbers using while loop"""
a=1
while a<11:
    print (a)
    a+=1

1
2
3
4
5
6
7
8
9
10

In [62]:
"""7. Use else block to display a message “Done!” after successful execution of for loop
Output
1 2 3 4 5 Done!
"""
for a in range(1,6):
    print(a, end=" ")
else:
    print("Done!")

1 2 3 4 5 Done!

In [63]:
"""
8. Write a program to use the loop to find the factorial of a given number.
a. The factorial (symbol: !) means to multiply all whole numbers from the chosen
number down to 1.
"""

num = int(input("Enter a number to find its factorial: "))
factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("Factorial of 0 is 1")
else:
    for i in range(1, num + 1):
        factorial *= i
    print("Factorial of", num, "is", factorial)

Enter a number to find its factorial:  5

Factorial of 5 is 120

In [67]:
"""
9. Write a program to print the cube of all numbers from 1 to a given number
"""
num=int(input("Enter a number = "))

for i in range(1, num+1):
    cube = i*i*i
    print(cube)

Enter a number =  6

1
8
27
64
125
216

In [68]:
"""
10. Write a program that will take user input of cost price and selling price and
determines whether its a loss or a profit.
"""
cp=int(input("Enter the cost price = "))
sp=int(input("Enter the selling price= "))

value = sp-cp

if value>0:
    print("There is Profit of", value)
elif value<0:
    print("There is a loss of", value)
else:
    print("There is neither profit or loss")

Enter the cost price =  45
Enter the selling price=  50

There is Profit of 5

In [ ]:
"""
11. Print the sum of the current number and the previous number.
a. Write a program to iterate the first 10 numbers and in each iteration, print the
sum of the current and previous number.
b. Expected result: 0,1,3,5,7,9,11,13,15,17
"""

In [74]:
"""
12. Print multiplication table form 1 to 10
"""

for i in range (1,11):
    for j in range(1, 11):
        table=i*j
        print(table, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [80]:
"""
13. Print all the armstrong numbers in the range of 100 to 1000
a. Output : 153, 370,371,407
"""
print("Armstrong numbers between 100 and 1000:")
for num in range(100, 1000):
    num_digits = len(str(num))
    sum_of_cubes = 0
    temp = num
    while temp > 0:
        digit = temp % 10
        sum_of_cubes += digit ** num_digits
        temp //= 10
    if num == sum_of_cubes:
        print(num, end=", ")

Armstrong numbers between 100 and 1000:
153, 370, 371, 407,