In [1]:
#Nested if-else
#Loops

In [2]:
age=18
city="Jaipur"
#if age>=18 => (Age is eligible)
#eligible for vote

In [3]:
age=18
city="Jaipur"
if(age>=18):
    print("Age is eligible")
    if(city == "Jaipur"):
        print("Eligible for voting")
    else:
        print("Not eligible for voting")
else:
    print("Age is less than 18")

Age is eligible
Eligible for voting

In [6]:
age=int(input("Enter your age = "))
city=input("Enter your city = ")

if(age>=18):
    print("Age is eligible")
    if(city == "Jaipur"):
        print("Eligible for voting")
    else:
        print("Not eligible for voting")
else:
    print("Age is less than 18")

Enter your age = 11
Enter your city = cft
Age is less than 18

In [7]:
#Looping Statement

print("hey")
print("hey")
print("hey")
print("hey")

hey
hey
hey
hey

In [8]:
#using range
#0 upto 5 (5 is exclusive)
#for(i=0; i<5; i++)

for i in range(0,5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(0,5,1):
    print(i)

0
1
2
3
4

In [10]:
#for 5 to 1(Backword loop)
for j in range(5, 0-1,-1):
    print(j)

5
4
3
2
1
0

In [13]:
#divisible by 3
for count in range(1,41):
    if(count%3==0):
        print(count)

3
6
9
12
15
18
21
24
27
30
33
36
39

In [12]:
#find all the numbers 100 to 0, those are divisible by 5 and 15
for num in range(100, 0-1, -1):
    if(num%5==0 and num%15==0):
        print(num)

90
75
60
45
30
15
0

In [14]:
#total of 1 to 10
sum =0
for num in range(1,11):
    sum =sum+num
print(sum)

55

In [15]:
#sum of even numbers between 1 to 30
sum=0
for num in range(1,31):
    if(num%2==0):
        sum=sum+num
print(sum)

240

In [16]:
#product of all the number from 8 to 1(factorial of 8)
product=1
for num in range(8,0,-1):
    product=product*num       #(product *= num)
print(product)

40320

In [17]:
#for loop for string

for x in "hey":
    print(x)

data="jaipur"
for x in data:
    print(x)

h
e
y
j
a
i
p
u
r

In [18]:
#for loop on string using index position

len("Jaipur")

6

In [19]:
city = "Jaipur"
len(city)

for index in range (0,6):
    print(index)

0
1
2
3
4
5

In [20]:
city = "Jaipur"
len(city)

for index in range (0,len(city)):
    print(index)

0
1
2
3
4
5

In [21]:
city = "Jaipur"
len(city)

for index in range (0,len(city)):
    print(index, city[0], city[1])

0 J a
1 J a
2 J a
3 J a
4 J a
5 J a

In [22]:
city = "Jaipur"
len(city)

for index in range (0,len(city)):
    print(index, city[index])

0 J
1 a
2 i
3 p
4 u
5 r

In [23]:
#from this string data i need to find the total number of characters
#and find out how many time a is present in this string data


city="Jaipur"
print(f"Total character {len(city)}")
count=0
for index in range(0, len(city)):
    if(city[index] == "a"):
        count=count+1
print(count)

Total character 6
1

In [24]:
#how many vowels are present in the string
city="Jaipaura"
len(city)
count=0
for index in range(0, len(city)):
    if(city[index] == "a" or city[index] == "e" or city[index] == "i" or city[index] == "o" or city[index] == "u" ):
        count += 1
print(count)

5

In [25]:
total = 0
for i in "Jaipur":
    if(i=="a" or i =="e" or i=="i" or i=="o" or i=="u"):
        print("Vowel", i)
print(total)

Vowel a
Vowel i
Vowel u
0

In [ ]:
#1 run a for loop and find total sum of first 20 natural numbers
#2 run a for loop and find total sum of last 20, 3-digit natural numbers
#3 run a for loop and find the product & average of any 20 natural numbers
#4 print a multiplication table of a number given by user
#5 find out the sum of power of starting 6 number
  #2**6
    #2**1 + 2**2 + 2**3 + .... 2**6
#6 take a string from the user and find out the total consonant which are available in a string
#7 take a int number from the user and find out the total sum, average aand the product of that number from 1 to the input provided only for odd values

In [26]:
#1 run a for loop and find total sum of first 20 natural numbers

sum = 0
for i in range(1,21):
    sum +=i
print(sum)

210

In [28]:
#2 run a for loop and find total sum of last 20, 3-digit natural numbers

sum=0
for i in range (999,979, -1):
    sum += i
print(sum)

19790

In [29]:
#3 run a for loop and find the product & average of any 20 natural numbers

prod=1
avg=0
sum = 0

for i in range(1,21):
    prod *=i
    sum += i
    avg = sum/20
print(prod, avg)

2432902008176640000 10.5

In [30]:
#4 print a multiplication table of a number given by user
x=int(input("Enter number to print table = "))

for i in range(1,11):
    table = x*i
    print(table)

Enter number to print table = 2
2
4
6
8
10
12
14
16
18
20

In [32]:
#5 find out the sum of power of starting 6 number

x=int(input("Enter the number = "))
sum=0
prod=1
for i in range(1, 7):
    prod=x**i
    sum=prod+sum
    print(sum)

Enter the number = 2
2
6
14
30
62
126

In [33]:
#6 take a string from the user and find out the total consonant which are available in a string
x = input("Enter a word: ")
vowels = {'a', 'e', 'i', 'o', 'u'}
count = 0

for i in x:
    if i not in vowels:
        count += 1

print("Total consonants:", count)

Enter a word: jaipur
Total consonants: 3

In [34]:
#7 take a int number from the user and find out the total sum, average aand the product of that number from 1 to the input provided only for odd values

num = int(input("Enter the end number for range = "))

sum =0
prod =1

for i in range (1,num+1):
    sum +=i
    prod= prod *i
    avg = sum/num
print(sum, prod, avg)

Enter the end number for range = 10
55 3628800 5.5

In [35]:
#7 take a int number from the user and find out the total sum, average aand the product of that number from 1 to the input provided only for odd values

num = int(input("Enter the end number for range = "))

sum =0
prod =1
count=0
for i in range (1,num+1):
    if(i%2!=0):
        sum +=i
        count=count+1
        prod= prod *i
        avg = sum/count

print(sum, prod, avg)

Enter the end number for range = 10
25 945 5.0