In [1]:
"""
****
***
**
*
"""

for i in range (1,5):
  for j in range(4, i-1, -1):
    print("*", end=" ")
  print(" ")

* * * *
* * *
* *
*

In [2]:
"""
10
11 12
13 14 15
"""
num =9
for i in range(1,4):
  for j in range(1, i+1):
    num +=1
    print(num, end=" ")
  print(" ")

10
11 12
13 14 15

In [3]:
"""
10
10 11
10 11 12
10 11 12 13
"""

for i in range (10,14):
  for j in range (10, i+1):
    print(j, end =" ")
  print(" ")

10
10 11
10 11 12
10 11 12 13

In [4]:
"""
A
AB
ABC
ABCD
"""

for i in range(64,69):
  for j in range(65,i+1):
    print(chr(j), end=" ")
  print(" ")

A
A B
A B C
A B C D

In [5]:
"""
A
AB
ABC
ABCD
"""

for i in range(1,5):
  for j in range(1, i+1):
    print(chr(64+j), end = " ")
  print(" ")

A
A B
A B C
A B C D

In [6]:
"""
D
DC
DCB
DCBA
"""

for i in range(1, 5):
    for j in range(4, 4-i, -1):
        print(chr(64 + j), end=" ")
    print()

D
D C
D C B
D C B A

In [7]:
"""
DCBA
DCB
DC
D
"""

for i in range (1,5):
  for j in range(4, i-1, -1):
    print(chr(64+j), end=" ")
  print("" )

D C B A
D C B
D C
D

In [8]:
"""
1
12
121
1212
12121
"""

for i in range(1,6):
  for j in range(1,i+1):
    if(j%2==0):
      print(2, end=" ")
    else:
      print(1, end=" " )
  print(" ")

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [9]:
"""
F
HJ
LNP
RTVX
"""
num=70
for i in range(1,5):
  for j in range(1,i+1):
    print(chr(num), end=" ")
    num+=2
  print(" ")

F
H J
L N P
R T V X

In [10]:
"""
****
 ***
  **
   *
"""

for i in range(1,5):
  for s in range(0, i-1):
    print(" ", end=" ")
  for j in range(4, i-1, -1):
      print("*", end=" ")
  print(" ")

* * * *
  * * *
    * *
      *