In [ ]:
#while loop
#for loop+> we know no. of iteration

In [4]:
i=1
while(i<10):
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [2]:
company = "regex"
index=0
while(index< len(company)):
    print(index, company[index])
    index +=1

0 r
1 e
2 g
3 e
4 x

In [1]:
for i in range(1,5):
    if(i==3):
        break
    print(i)

1
2

In [10]:
#print sum of 50 to 20 by while loop

i=50
sum=0
while(i>=20):
  sum=sum+i
  i-=1
print(sum)

1085

In [21]:
#print total 10 numbers from 50 which are divisible by 5 and 7

i=50
count=0
while(count<10):
  if(i%5==0 and i%7==0):
    count+=1
    print(i)
  i+=1

70
105
140
175
210
245
280
315
350
385

In [26]:
#print total 10 numbers from 50 which are divisible by 5 and 7

i=30
count=0
while(count<10):
  if(i%5==0 and i%7==0):
    count+=1
    print(i)
  i+=1

35
70
105
140
175
210
245
280
315
350

In [23]:
#print total 10 numbers from 50 which are divisible by 5 and 7

i=50
while(True):
  if(i%5==0 and i%7==0):
    print(i)
    break
  i+=1

70

In [25]:
i=50
count=0
while(True):
  if(i%5==0 and i%7==0):
    count+=1
    print(i)
  if(count==10):
    break
  i+=1
print(count)

70
105
140
175
210
245
280
315
350
385
10

In [27]:
#nested loop => Loop in a loop

for i in range(1,6):
  print("Hello")

Hello
Hello
Hello
Hello
Hello

In [28]:
for i in range(1,6):
  print("Hello")
  for k in range (1,4):
    print(k)

Hello
1
2
3
Hello
1
2
3
Hello
1
2
3
Hello
1
2
3
Hello
1
2
3

In [30]:
for i in range(1,6):
  print("\n")
  for k in range (1,4):
    print(k)

1
2
3


1
2
3


1
2
3


1
2
3


1
2
3

In [34]:
for i in range(1,6):
  for k in range (1,4):
    print(k)
  print(" ")

1
2
3

1
2
3

1
2
3

1
2
3

1
2
3

In [35]:
print("Hello", end=" ")
print("Hey")

Hello Hey

In [38]:
for i in range(1,8):
  for k in range (1,5):
    print(k, end=" ")
  print(" ", end="\n")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [43]:
for i in range(1,4):
  for j in range(1,5):
    print("*", end=" ")
  print(" ")

* * * *
* * * *
* * * *

In [49]:
for i in range(1,5):
  for j in range(1,i+1):
      print("*", end=" ")
  print(" ")

*
* *
* * *
* * * *