In [10]:
ord('b') #Ascii

98

In [11]:
chr(90) #Ascii

'Z'

In [9]:
for i in range (1,5):
  for s in range(0, i-1):
    print(" ", end =" ")
  for j in range(4, i-1, -1):
    print("*", end =" ")
  print(" ")

* * * *
  * * *
    * *
      *

In [ ]:
#Nested Loop
"""1
2 4
8 16 32

17
19 21
23 25 27"""

In [15]:
"""
1
2 4
8 16 32
"""

num=1
for i in range(1,4):
  for j in range(1,i+1):
    print(num, end=" ")
    num*=2
  print(" ")

1
2 4
8 16 32

In [18]:
"""
1
2 4
8 16 32
"""

num=0
for i in range(1,4):
  for j in range(1,i+1):
    y=2**num
    print(y, end=" ")
    num+=1
  print(" ")

1
2 4
8 16 32

In [14]:
"""
1
2 3
4 5 6
"""

num=1
for i in range(1,4):
  for j in range(1,i+1):
    print(num, end=" ")
    num+=1
  print(" ")

1
2 3
4 5 6

In [13]:
"""
17
19 21
23 25 27
"""
num=17
for i in range(1,4):
  for j in range(1, i+1):
    print(num, end =" ")
    num+=2
  print(" ")

17
19 21
23 25 27

In [22]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*", end=" ")
  print(" ")

*
* *
* * *
* * * *

In [28]:
for i in range(1,5):
  for j in range(1,i):
    print("Z", end=" ")
  for k in range(1,5):
    print("*", end =" ")
    break
  print(" ")

*
Z *
Z Z *
Z Z Z *

In [33]:
for i in range(1,5):
  #(1,2)
  for j in range(1,i):
    print(" ", end=" ")
  for k in range(i,5):
    #(i=1 1,5), (i=2 2,5)
    print("*", end =" ")
  print(" ")

* * * *
  * * *
    * *
      *

In [ ]:
"""
1234
 123
  12
   1


1234
 567
  89
   10

$$$$
 ###
  $$
   #
4 6 8  10
 12 14 16
   18 20
      22
"""

In [48]:
"""
1234
 123
  12
   1
"""
for i in range(1,5):
  num=1
  for k in range(1, i):
    print(" ", end =" ")
  for j in range(i,5):
    print(num, end =" ")
    num+=1
  print(" ")

1 2 3 4
  1 2 3
    1 2
      1

In [49]:
num=1
for i in range(1,5):
  for k in range(1, i):
    print(" ", end =" ")
  for j in range(i,5):
    print(num, end =" ")
    num+=1
  print(" ")

1 2 3 4
  5 6 7
    8 9
      10

In [55]:
""""
$$$$
 ###
  $$
   #
"""

for i in range(1,5):
  for k in range(1,i):
    print(" ", end =" ")
  for j in range(i,5):
    if(i%2!=0):
      print("$", end =" ")
    else:
      print("#", end=" ")
  print(" ")

$ $ $ $
  # # #
    $ $
      #

In [61]:
""""
$$$$
 ###
  $$
   #
"""

for i in range(1,5):
  for k in range(1,i):
    print(" ", end =" ")
  for j in range(i,5):
    if(i==1 or i==3):
      print("$", end =" ")
    else:
      print("#", end=" ")
  print(" ")

$ $ $ $
  # # #
    $ $
      #

In [54]:
"""
4 6 8  10
 12 14 16
   18 20
      22
"""

num=4
for i in range(1,5):
  for k in  range(1,i):
    print(" ", end =" ")
  for j in range(i,5):
    print(num, end=" ")
    num+=2
  print(" ")

4 6 8 10
  12 14 16
    18 20
      22

In [50]:
num=1
for i in range(1,5):
  for k in range(1, i):
    print(" ", end =" ")
  for j in range(i,5):
    print(num, end =" ")
  num+=1
  print(" ")

1 1 1 1
  2 2 2
    3 3
      4

In [36]:
for i in range(1,5):
  for j in range(1,i):
    print("", end=" ")
  for k in range(i,5):
    print("*", end =" ")
  print(" ")

* * * *
 * * *
  * *
   *

In [78]:
for i in range(1,6):
  for j in range(1,6):
    if(i==j or i==5 or j == 1):
      print("*", end=" ")
    else:
      print(" ", end=" ")
  print(" ")

*
* *
*   *
*     *
* * * * *

In [80]:
for i in range(1,6):
  for j in range(1,6):
    if(i==j or i==5 or j == 1):
      print(j, end=" ")
    else:
      print(" ", end=" ")
  print(" ")

1
1 2
1   3
1     4
1 2 3 4 5

In [83]:
x = 10

for i in range(65, 69):
    for k in range(65, i):
        print(" ", end=" ")

    for j in range(i, 69):
        if i % 2 == 1:
            print(chr(j), end=" ")
        else:
            print(x, end=" ")
            x *= 10

    print("")

A B C D
  10 100 1000
    C D
      10000