In [2]:
data="hey tushar hey"

for i in data:
    print(i)

h
e
y

t
u
s
h
a
r

h
e
y

In [6]:
data="hey tushar hey"

data.split()
#return data type of split is list.

['hey', 'tushar', 'hey']

In [7]:
data="hey tushar hey"

data.split("t")
#return data type of split is list.

['hey ', 'ushar hey']

In [8]:
data="hey tushar hey"
data.split("h")

['', 'ey tus', 'ar ', 'ey']

In [13]:
data="hey tushar hey"
x=data.split("h")
print(x, type(x))

['', 'ey tus', 'ar ', 'ey'] <class 'list'>

In [15]:
data="hey tushar hey hello hey user user hey"

#[hey tushar hello user]
x=data.split()
print(x, type(x))

['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey'] <class 'list'>

In [16]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
print(mylist)

['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']

In [19]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
for i in mylist:
    print(mylist)

['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']

In [20]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
for i in mylist:
    print(i)

hey
tushar
hey
helo
hey
user
user
hey

In [22]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    newlist.append(i)
    print(newlist)

['hey']
['hey', 'tushar']
['hey', 'tushar', 'hey']
['hey', 'tushar', 'hey', 'helo']
['hey', 'tushar', 'hey', 'helo', 'hey']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user']
['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']

In [23]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    newlist.append(i)
print(newlist)

['hey', 'tushar', 'hey', 'helo', 'hey', 'user', 'user', 'hey']

In [25]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    newlist.append(i)
"hey12" in newlist

False

In [27]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    if i not in newlist:
        newlist.append(i)
        print(newlist)

['hey']
['hey', 'tushar']
['hey', 'tushar', 'helo']
['hey', 'tushar', 'helo', 'user']

In [30]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    if i not in newlist:
        newlist.append(i)
    print(newlist)

['hey']
['hey', 'tushar']
['hey', 'tushar']
['hey', 'tushar', 'hello']
['hey', 'tushar', 'hello']
['hey', 'tushar', 'hello', 'user']
['hey', 'tushar', 'hello', 'user']
['hey', 'tushar', 'hello', 'user']

In [1]:
data="hey tushar hey hello hey user user hey"

mylist=data.split()
newlist=[]
for i in mylist:
    if (i not in newlist):
        newlist.append(i)
print(newlist)

['hey', 'tushar', 'hello', 'user']

In [ ]:
#tuple
#collection of multiple element
#immutable
#index position () 
#declaration in parenthesis

In [6]:
mytuple=10
print(type(mytuple))

#type =int, when single value

<class 'int'>

In [4]:
mytuple=10,20
print(type(mytuple))

#type=tuple, when multiple value

<class 'tuple'>

In [5]:
mytuple=(10,20)
print(type(mytuple))

<class 'tuple'>

In [7]:
mytuple=(10,)
print(type(mytuple))

<class 'tuple'>

In [9]:
mytuple=(10,20,"Hey",10.0)
print(type(mytuple))

<class 'tuple'>

In [10]:
mytuple[0]

10

In [11]:
mytuple[0:3]

(10, 20, 'Hey')

In [12]:
mytuple.index("Hey")

2

In [13]:
mytuple[0]=10

TypeError: 'tuple' object does not support item assignment

In [16]:
mytuple=(10,20,"Hey",10.0)
id(mytuple)

1745433851200

In [14]:
mytuple+(60,70,80)

(10, 20, 'Hey', 10.0, 60, 70, 80)

In [15]:
mytuple=mytuple+(60,70,80)
id(mytuple)

1745434284096

In [ ]:
# "hey tushar hey hello hello tushar tushar"

In [17]:
# armstrong number 
#153=1**3+5**3+3**3= 1+125+27

In [18]:
x=153
rem1=x%10

x=x//10

#x=> 15  rem2=> 5
rem2=x%10

x=x//10
rem3=x%10
print(rem3)

x=x//10
print(x)

rem1**3 + rem2**3+rem3**3

1
0

153

In [20]:
x=10
x+5
print(x)
# 15   10  5  ( Error)

10

In [19]:
# more than 0
# x=153   =>  %   , //
# aisa data jo purani value ko yad raakhe ( variable)

x=153
originalnum=x
total=0
while(x>0):
    
    rem=x%10
    total += rem**3
    
    x=x//10
    
if(total==originalnum):
    print("Armstrong number")
else:
    print("Not")

Armstrong number

In [ ]:
# to find out whether a 4digit number is a armstrong
# to find all the unique word from a string no duplicacy
#    "hey hello user tushar tushar hello"
#   [hey, user]