In [ ]:
#Dictionary

"""
12 Days

sunday
1 2 3 4 5 6 7 
2 3 4 5 6 
"""

In [ ]:
#set
# a collection of elements, unique
#mutable in nature
#{}
#important:- Set only have immutable datatype as element

In [1]:
myset={}
print(type(myset))

<class 'dict'>

In [1]:
myset=set({})
print(type(myset))

<class 'set'>

In [3]:
myset={10,20,30}
print(myset)

{10, 20, 30}

In [2]:
myset={10,20,30,20,10,30,10}
print(myset)#set only have unique elemnts, if element is duplicated than, it will only give one time

{10, 20, 30}

In [ ]:
#unordered datatype
#no index

In [4]:
myset={10,40, "yash", 10,20,30}
print(myset)

{20, 40, 'yash', 10, 30}

In [6]:
myset={10,20,30, 10,40, "yash", [10,0], (10,20)} #list cannot be store, because it is mutable
print(myset)

TypeError: unhashable type: 'list'

In [7]:
myset={10,20,30,10,40, "yash", (10,20)}
print(myset)

{20, 40, 'yash', 10, 30, (10, 20)}

In [7]:
myset.add(800) #add one element
print(myset)

{800, 20, 40, 10, 'yash', 30, (10, 20)}

In [37]:
myset.update([888])#update:-insert multiple elements
print(myset)

{10, 'u', 'yash', 20, 's', 30, 't', 40, 888}

In [41]:
myset.update("uts")
print(myset)

{10, 'u', 'yash', (10, 20), 20, 's', 30, 't', 40}

In [42]:
myset.remove((10,20))#error if there is no same value
print(myset)

{10, 'u', 'yash', 20, 's', 30, 't', 40}

In [ ]:
myset.pop()
print(myset)

In [43]:
myset.discard(10) #same as remove, but it doesnt give error, and remove give
print(myset)

{'u', 'yash', 20, 's', 30, 't', 40}

In [45]:
myset1={10,20,30}
myset2={30,40,50}
myset1.union(myset2)

{10, 20, 30, 40, 50}

In [8]:
#"hey this side tushar hey"
#using set (hey this tushar side)
"""
string="hey this side tushar hey"
s1=string.split()
print(s1)
set1={}
for i in s1:
    if i not in set1:
        set1.update(i)
print(set1)"""

'\nstring="hey this side tushar hey"\ns1=string.split()\nprint(s1)\nset1={}\nfor i in s1:\n    if i not in set1:\n        set1.update(i)\nprint(set1)'

In [78]:
#"hey this side tushar hey"
#using set (hey this tushar side)

string="hey this side tushar hey"
s1=string.split()
set1=set(s1)
print(set1)

{'hey', 'tushar', 'this', 'side'}

In [48]:
#Dictionary

"""
12 Days

sunday
1 2 3 4 5 6 7 
2 3 4 5 6 


8 days
1+2+3+4+5+6+7
+2

3days
1+2+3

25 days
1+2+3+4+5+6+7
2+3+4+5+6+7+8
3
"""

x=int(input("Enter the number of days = "))
sum =0
for i in range (1,x+1):
    for j in range(i,x+1):
        sum+=1
        j+=1
    i+=1
print(sum)

Enter the number of days =  7

28

In [ ]:
x=int(input("Enter the number of days = "))
sum =0
c=0
for i in range (1,x+1):
    for j in range(i,i+7):
        if(c<x):
            sum+=j
            c+=1
print(c)
print(sum)

In [14]:
#input= " [] {} () " => brackets are correct
#input= "[{} ()]" => brackets are correct
#input= "[{( ]}]" => brackets are incorrect

y=input()
x=y.split()
print (x)
l1=['{', '(', '[']
l2=['}', ')', ']']

for i in x:
    if i in l1:

IndentationError: expected an indented block (3337071742.py, line 13)